<!DOCTYPE html>
	<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1> Page Counts </h1>

		<h3>Count: <%= count %></h3>

		<a href="/add2">  <button > Add 2 </button> </a>

		<a href="/reset">  <button > reset </button> </a>


<!-- 		<button onclick="myFunction()"> Reset </button> -->

	</body>
	</html>